.table-button {
    -fx-background-color: #f1f1f1;
    -fx-text-fill: black;
    -fx-background-radius: 8;
    -fx-font-size: 12px;
    -fx-padding: 6 12 6 12;
}

.table-button:hover {
    -fx-background-color:#e2e2e2;
}

.delete-button {
    -fx-background-color: #000000;
    -fx-text-fill: white;

}

.delete-button:hover {
    -fx-background-color: #111;
}


.table-row-cell:filled:selected {
    -fx-background-color: #f1f1f1;
}
